.row{
    margin-left: 20px;
    color: #fff;
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x:auto;
    overflow-y:hide;
    white-space: nowrap;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    max-height: 210px;
    margin-right: 30px;
    border-radius: 11px;
    cursor: pointer;
}
.poster:hover{
   transform: scale(1.1);
  
}
.smallposter{
    max-height: 150px;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 25px;
}
.smallposter:hover{
    transform: scale(1.1);
}